{% extends 'base.html' %}

{% block content %}
<section class="container py-5">
    <h2 class="text-center mb-5">Contact Us</h2>
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter Name">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="mb-3">
            <textarea class="form-control" placeholder="Enter Message" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
{% endblock %}
